<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>520878191344-lgvnq4dqlreggfbfc9gr209jthahfitv.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.520878191344-lgvnq4dqlreggfbfc9gr209jthahfitv</string>
    <key>API_KEY</key>
    <string>AIzaSyBDsKAw94UcLrvXkFEl_fV6FRNhfIpKw48</string>
    <key>GCM_SENDER_ID</key>
    <string>520878191344</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>org.reactjs.native.example.myProject</string>
    <key>PROJECT_ID</key>
    <string>delivery-app-a713c</string>
    <key>STORAGE_BUCKET</key>
    <string>delivery-app-a713c.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:520878191344:ios:f62a5e77c364902ce00835</string>
</dict>
</plist>
